<h1> subscription </h1>
<!--<p>Your current payment method is <%=@user.subscriptionMethod%></p>
<%=form_for @user, :url => home_subscription_create_path do |f|%>
Every month<%= f.radio_button 'paymentMethod' ,'Every month', :checked => 'checked'%>
Every six months<%= f.radio_button 'paymentMethod' ,'Every six months'%>
Every year<%= f.radio_button 'paymentMethod' ,'Every year'%>

<%= f.submit%>
<%end%>-->